<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee@Signup</title>
</head>
<body align="center">

           <form action='signup'  method='post' modelAttribute='gitem'>
          Enter Product_ID:<input type="text" name="productId"><br/>
          Enter Product_Name:<input type="text" name="name"><br/>
          Enter Product_Quantity:<input type="text" name="quantity"><br/>
          Enter Product_Category:<input type="text" name="category"><br/>  
          <input type="submit"value="go">
          <input type="reset" value="clean"><br/>
          </form>
      </h3>
</body>
</html>